$border__header_color: #EAEAEA;
$border__title_color: #41F6D7;
$main__color: #B8FFEC;
$text_color: #1B1C21;
$bk_color: #F8F8F8;
$text_color-slider: #7E7E82;
$bk_color_slider: #f7f7f7;
$white: #fff;
$pink: #FF3E79;