@import "_variable";
@import "media/services-768";
@import "media/services-320";
@import "media/services-1120";

* {
   font-family: "TT Lakes", sans-serif;
   color: $text_color;
}
body {
   background-color: $bk_color;
}

.container {
   max-width: 100%;
   max-height: 100%;
   margin: 0 auto;
}
.subtitle-text {
   .text-part-1,
   .text-part-2,
   .text-part-3,
   .text-part-4 {
      display: none;
   }
}

.slidemenu {
   &-text p {
      color: $text_color-slider;
   }
}

.title {
   position: relative;
   &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: $border__title_color;
      border-radius: 4px;
   }
}

.animation {
   &:hover {
      transform: scale(1.1);
      transition: transform 0.5s ease-in-out;
   }
   &:active {
      animation: clickAnimation 0.5s ease-in-out;
   }
}

@keyframes clickAnimation {
   0% {
      transform: scale(1.1);
   }
   50% {
      transform: scale(0.9);
   }
   100% {
      transform: scale(1);
   }
}

.menu {
   position: fixed;
   top: 0;
   left: -320px;
   opacity: 0;
   width: 320px;
   height: 100%;
   background-color: #fff;
   transition:
      left 0.3s ease,
      opacity 0.3s ease;
   box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
   z-index: 5;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   &-header {
      display: flex;
      margin-bottom: 53px;
   }
   &.open {
      left: -10px;
      opacity: 1;
   }
   &-info {
      height: 85vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   &-nav {
      display: flex;
      flex-direction: column;
      ul {
         li:not(:last-child) {
            margin-bottom: 32px;
         }
         a {
            font-size: 18px;
            position: relative;
            transition: color 0.3s ease;

            &:hover {
               &::before {
                  content: "";
                  position: absolute;
                  left: -20px;
                  top: 0;
                  bottom: 0;
                  width: 4px;
                  background-color: $border__title_color;
                  border-radius: 4px;
               }
            }
         }
      }

      .menu-footer {
         .contacts {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            a:not(:last-child) {
               margin-bottom: 12px;
               font-size: 16px;
               line-height: 24px;
               font-weight: 600;
            }
            a:not(:first-child) {
               margin-bottom: 40px;
               font-size: 24px;
               line-height: 32px;
               font-weight: 600;
            }
         }
         .social-media {
            display: flex;
            margin-bottom: 20px;
            a {
               margin-right: 10px;
            }
         }
         .languages {
            margin-top: 10px;
            a {
               margin-right: 10px;
               font-size: 14px;
            }
         }
      }
   }
}

.menu-img {
   a {
      display: inline-block;
   }
}
