@media (max-width: 767px) {
  .chat,
  .call,
  .profile {
    display: none;
  }

  .header {
    background-color: $white;
    min-height: 88px;
    border-bottom: solid 1px $main__color;
    padding: 16px 10px;
    &__inner {
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
    }
  }

  .menu {
    .close-menu {
      margin-right: 10px;
    }
  }

  .logo {
    margin-right: auto;
    &__link {
      &-img {
      }
    }
  }

  .repair {
    border-left: 2px solid $border__header_color;
    padding-left: 20px;
    &__link {
      &-img {
      }
      &-text {
        font-size: 0px;
      }
    }
  }

  .checkstatus {
    &__link {
      &-img {
      }
      &-text {
        font-size: 0px;
      }
    }
  }

  .main {
    background-color: $bk_color;
    padding: 16px 0;
  }

  .title {
    margin: 24px 0;
    position: relative;
    font-weight: bold;
    &-text {
      margin-left: 16px;
      font-size: 24px;
      padding: 6px 0;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: $border__title_color;
      border-radius: 4px;
    }
  }

  .slidemenu {
    &__wrap {
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
    }
    &-text {
      cursor: pointer;
      & p {
        font-weight: 500;
        padding: 8px 16px;
        margin-right: 10px;
        border: 2px solid transparent;
        border-radius: 7px;
        transition: border-color 0.5s;
      }
      &:focus p,
      &.active p {
        background-color: $white;
        border-color: $main__color;
      }
    }
  }

  .fdback {
    display: none;
  }

  .wrapper {
    .subtitle {
      margin: 0 16px 16px 16px;
      &-text {
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: normal;
        .text-part-1 {
          display: block;
        }
      }
      &-p {
        font-size: 14px;
        letter-spacing: 0.2px;
        padding: 24px 0 16px 0;
      }
    }
  }

  .image {
    &-img {
      height: auto;
      border-radius: 15px;
      width: 100%;
    }
  }

  .brands {
    margin: 30px 0 0 16px;

    &__title {
      @include title();
    }

    &__item {
      height: 72px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-radius: 12px;
      background: $white;
      box-shadow: 6px 5px 20px rgba(0, 0, 0, 0.1);
      width: 80%;
      position: relative;
      //     margin-bottom: 32px;

      &.hidden {
        display: none;
      }

      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);
      }
    }

    &__link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__image {
    }

    &__arrow {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
    }

    &__more {
      display: none;
    }
  }

  .swiper {
    &-pagination {
      bottom: 16px;
      text-align: center;
      width: 100%;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
    }
  }

  .repair-types {
    margin: 30px 0 0 16px;

    &__title {
      @include title();
    }

    &__list {
      width: 80%;
    }

    &__item {
      display: block;
      height: 140px;
      background-color: $white;
      padding: 16px;
      border-radius: 12px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      position: relative;
      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
      }
    }

    &__name {
      font-size: 16px;
      font-weight: 600;
      color: $text_color;
      background-color: transparent;
    }

    &__link {
      position: absolute;
      right: 16px;
      bottom: 16px;
    }

    &__more {
      display: none;
    }
  }

  .services-prices {
    margin: 30px 0 0 16px;

    &__title {
      @include title();
    }

    &__list {
    }

    &__item {
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 16px;
      height: 200px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      gap: 8px;
      border-radius: 10px;
      background-color: $white;
    }

    &__category {
      font-size: 14px;
      font-weight: 500;
      color: $text_color-slider;
    }

    &__name {
      @include serv-title();
      margin-bottom: 16px;
    }

    &__info-block {
      display: flex;
      justify-content: space-between;
      a {
        width: 100px;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &__label {
      @include serv-title();
      margin-right: 8px;
    }

    &__info {
      font-weight: 400;
      color: $text_color;
    }

    &__order {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      background-color: $pink;
      color: $white;
      border-radius: 20px;
      font-weight: 500;

      &:hover {
        background-color: darken($pink, 10%);
      }
    }
  }

  .footer {
    padding: 16px 0;
    text-align: center;
    color: $bk_color_slider;

    &__container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__wrap {
      }

      &__privacy-policy {
        color: $bk_color_slider;
      }
    }
  }
}
