@media (max-width: 767px) {
  .chat,
  .call,
  .profile {
    display: none;
  }

  .header {
    background-color: $white;
    min-height: 88px;
    border-bottom: solid 1px $main__color;
    padding: 16px 10px;
    &__inner {
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
    }
  }

  .menu {
    .close-menu {
      margin-right: 10px;
    }
  }

  .logo {
    margin-right: auto;
    &__link {
      &-img {
      }
    }
  }

  .repair {
    border-left: 2px solid $border__header_color;
    padding-left: 20px;
    &__link {
      &-img {
      }
      &-text {
        font-size: 0px;
      }
    }
  }

  .checkstatus {
    &__link {
      &-img {
      }
      &-text {
        font-size: 0px;
      }
    }
  }

  .main {
    background-color: $bk_color;
    padding: 16px 0;
  }

  .title {
    margin: 24px 0;
    position: relative;
    font-weight: bold;
    &-text {
      margin-left: 16px;
      font-size: 24px;
      padding: 6px 0;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: $border__title_color;
      border-radius: 4px;
    }
  }

  .slidemenu {
    &__wrap {
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
    }
    &-text {
      cursor: pointer;
      & p {
        font-weight: 500;
        padding: 8px 16px;
        margin-right: 10px;
        border: 2px solid transparent;
        border-radius: 7px;
        transition: border-color 0.5s;
      }
      &:focus p,
      &.active p {
        background-color: $white;
        border-color: $main__color;
      }
    }
  }

  .fdback {
    display: none;
  }

  .wrapper {
    .subtitle {
      margin: 0 16px 16px 16px;
      &-text {
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: normal;
        .text-part-1 {
          display: block;
        }
      }
      &-p {
        font-size: 14px;
        letter-spacing: 0.2px;
        padding: 24px 0 16px 0;
      }
    }
  }

  .image {
    &-img {
      height: auto;
      border-radius: 15px;
      width: 100%;
    }
  }

  .brands {
    margin: 30px 0 0 16px;
    &-text {
      color: $text_color-slider;
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 32px;
      text-transform: uppercase;
    }
  }

  .swiper {
    &-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
    }

    &-slide {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      background: $white;
      border-radius: 10px;
      box-shadow: 6px 5px 20px rgba(0, 0, 0, 0.1);
      img {
        max-width: 100%;
        height: auto;
      }
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
  }
  .none {
    display: none;
  }
}
