@mixin title() {
   color: $text_color-slider;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 32px;
   text-transform: uppercase;
   height: 56px;
   background-color: #fff;
   border-top: 1px solid $border;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

@mixin readmore() {
   font-weight: bold;
   margin: 16px 0px 0px 0px;
   font-size: 16px;
   a {
      display: flex;
      align-items: center;
   }
   & span {
      display: inline-block;
      margin-left: 8px;
   }
}

@mixin serv-title() {
   font-size: 14px;
   font-weight: 500;
   color: $text_color;
   margin-bottom: 4px;
}
