@mixin title() {
   color: $text_color-slider;
   font-size: 16px;
   line-height: 24px;
   padding-bottom: 32px;
   text-transform: uppercase;
}

@mixin readmore() {
   font-weight: bold;
   margin: 16px 0px 0px 0px;
   font-size: 16px;
   a {
      display: flex;
      align-items: center;
   }
   & span {
      display: inline-block;
      margin-left: 8px;
   }
}
