@media (min-width: 768px) and (max-width: 1119px) {
    
    .header {
        background-color: #fff;
        height: 88px;
        &__inner {
        }

        &__wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 24px;
            background-color: #fff;
        }
    }

    .menu,
    .call,
    .chat,
    .profile,
    .repair,
    .checkstatus {
        margin: 0 10px;
    }

    .menu {
        border-right: 2px solid $border__header_color;
        padding-right: 20px;
        &-img {
        }

        &-nav {
        }

        &__btn {
        }
    }

    .logo {
        margin-right: auto;
        margin-left: 10px;
        &__link {
            &-img {
            }
        }
    }

    .call {
        &__link {
            &-img {
            }
        }
    }

    .chat {
        &__link {
            &-img {
            }
        }
    }

    .profile {
        &__link {
            &-img {
            }
        }
    }

    .repair {
        border-left: 2px solid $border__header_color;
        padding-left: 20px;
        &__link {
            &-img {
            }
            &-text {
                font-size: 0px;
            }
        }
    }

    .checkstatus {
        &__link {
            &-img {
            }
            &-text {
                font-size: 0px;
            }
        }
    }

    .main {
        position: fixed;
        background-color: $bk_color;
    }

    .services {
    }

    .title {
        height: 40px;
        margin: 24px 0px 32px 0px;
        font-weight: bold;
        &-text {
            margin-left: 16px;
            font-size: 28px;
            padding: 6px 0px;
        }
    }

    .slidemenu {
        margin-left: 16px;
        margin-bottom: 32px;
        &__wrap {
            display: flex;
            align-items: center;
            overflow: hidden;
            white-space: nowrap;
        }
        &-text {
            cursor: pointer;
            & p {
                font-weight: 500;
                padding: 8px 16px;
                margin-right: 10px;
                border: 2px solid transparent;
                border-radius: 7px;
                transition: border-color 0.5s;
            }
            &:focus p,
            &.active p {
                background-color: #fff;
                border-color: $main__color;
            }
            &:nth-child(4) {
                display: none;
            }
        }
    }

    .fdback {
        display: none;
    }

    .wrapper {
        display: flex;
        .subtitle {
            margin: 0px 48px 0px 24px;

            &-text {
                font-size: 14px;
                letter-spacing: 0.2px;
                line-height: 20px;
                .text-part-1,
                .text-part-2 {
                    display: block;
                }
                .text-part-1 {
                    padding-bottom: 15px;
                }
            }
            & p {
                margin-bottom: 15px;
            }
            &-readmore {
                font-weight: bold;
                margin: 16px 0px 0px 0px;
                font-size: 16px;

                & a {
                    display: flex;
                    align-items: center;
                }

                & span {
                    display: inline-block;
                    margin-left: 8px;
                }
            }
        }
    }

    .image {
        margin-right: 24px;
        &-img {
            display: inline-block;
            width: 360px;
            height: 208px;
            border-radius: 15px;
        }
    }
}
