$border__header_color: #eaeaea;
$border__title_color: #41f6d7;
$main__color: #b8ffec;
$text_color: #1b1c21;
$bk_color: #f8f8f8;
$text_color-slider: #7e7e82;
$bk_color_slider: #f7f7f7;
$white: #fff;
$pink: #ff3e79;
